html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
}

body{
    margin:0;
    padding:0;
    background-image: url('photo/beige-watercolor-23.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    font-family: Lato, Montserrat, sans-serif;
}

h1,h2,header{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

.aboutme{
    margin-top:62px;
}


/* NAVIAGATION BAR */
a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px;
    color:black;
    display:inline-block;
    background: rgb(251, 251, 234);
    transition: all 0.5s;
}

a:visited{
    color:black;
}
a:hover {
    background: rgb(255, 224, 115);
}

  /* Flex Container */
.nav ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    border:3px double black;
  }
  
  header{
      position: fixed;
      top:0;
      width: 100%;
      z-index: 99999999999999999999999;
      box-shadow: 3px 3px 6px orange;
  }
  /* Flex Item */
  .nav li {
    flex:1;
  }
  
  .toggle-area{
      display: none;
  }

.toggle-area label {
    cursor:pointer; 
}

.toggle{
    display:none;
    
}

/* PORTFOLIO */
/* Flex Container */
.portfolio {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
}
/* Flex Item */
.portf {
    flex:1;
    background-color: rgb(255, 224, 62, 0.2);
    margin:20px;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}

/* FOOTER */
footer, section{
   text-align: center;
   background-color: rgb(255, 224, 62, 0.2);
   padding: 20px;
   margin: 20px 0;
}

.portfolio {
    background-color: transparent;
}

img{
    width: 100%;
}
  
  @media all and (max-width:500px) {
      header {
        box-shadow: 1px 1px 3px black;
      }

    .nav ul {
        flex-wrap:wrap;
        border: none;
       
      }
    
    .nav li {
      flex-basis:100%;
    }

    .nav{
        display:none;
        flex-direction: column;
      }

    .toggle:checked + .nav{
        display:flex;
    }

    .toggle-area{
        display:flex;
        flex:1;
        padding: 2px;
        justify-content: center;
        background-color:  rgb(251, 251, 234);
    }
    
    a{
        padding: 2px;
    }
  }  