:root {
    --background-color: rgb(251, 251, 234);
    --hover-color: rgb(255, 224, 115);
    --element-color: rgb(255, 224, 62, 0.2);
    --hover-color-darker: rgb(253,135,0);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url('photo/beige-watercolor-23a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

.content {
    text-align: center;
    background-color: var(--element-color);
    border-radius: 6px;
    padding: 40px;
    margin: 20px auto;
    font-family: Lato, Montserrat, sans-serif;
    max-width: 1200px;
}

.color-box {
    letter-spacing: 3.7px;
}

p.skills-text {
    text-align: justify;
}
p.quote {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed black;
    text-align-last: right;
}
.quote em {
    line-height: 1.5em;
    letter-spacing: 1.0px;
}

.quote strong {
    background-color: var(--hover-color);
}

.content h1 {
    padding-bottom: 30px;
}

.portf h1 {
    padding: 5px;
}

.about-me {
    margin-top: 70px;
}



/* MENU */
.menu {
    padding: 10px;
    background-color: transparent;
    border: none;
}



/* NAVIAGATION BAR */
.nav a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px;
    color: black;
    display: inline-block;
    background: var(--background-color);
}
.nav a:visited {
    color: black;
}
.nav a:hover {
    background: var(--hover-color);
}
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 3px 3px 6px orange;
    z-index: 5;
}

.toggle-area {
    display: none;
}
.toggle-area label {
    cursor: pointer; 
    font-size: 1.4rem;
}
.toggle {
    display: none;   
}

  /* Flex Container */
.nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  /* Flex Item */
.nav li {
     flex: 1;
}

/* ABOUT */
.about-me img {
    max-width: 200px;
    height: auto;
    padding-bottom: 20px;
    position: relative;
    animation: pumpkin;
    animation-duration: 3s;
}

@keyframes pumpkin {
    0%   { top: -500px}
    100% { top: 0px}
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


/* EVENTS */
/* Container */
.gallery {
    max-height: 900px;
    max-width: 800px;
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-content: center;
    background-color: var(--element-color);
    padding: 90px 40px 40px 40px;
}

.dog3 {
    display: flex;
    background-image: url('./photo/dog3.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 300px;
    width: 100%;
    position: relative;
}

.dog2 {
    background-image: url('./photo/dog2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    min-height: 200px;
}

.dog1 {
    background-image: url('./photo/dog1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    min-height: 200px;
}

.gallery .caption {
    position: absolute;
    background-color: var(--hover-color-darker);
    opacity: 0.8;
    width: 100%;
    bottom: 0;
}

.events {
    background: transparent;
    margin-top: -50px;
    padding-top: 0px;
    padding-bottom: 5px;
}
.events .title {
    position: relative;
    top: 80px;
}




/* PORTFOLIO */
.portfolio .fas {
    color: rgba(0,0,0,0.9);
    padding: 15px;
    transition: transform 0.2s ease-in-out;
}
.portfolio .fas:visited {
    color: rgba(0,0,0,0.9);
}
.portfolio .fas:hover {
    color: var(--hover-color-darker);
    transform: scale(0.9);
}

.portfolio .far {
    color: var(--hover-color-darker);
    transition: transform 0.15s ease-in-out;
}
.portfolio .far:visited {
    color: var(--hover-color-darker);
}
.portfolio .far:hover {
    color: rgba(0,0,0,0.8);
    transform: scale(0.9);
}

/* Flex Container */
.portfolio {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
}
/* Flex Item */
.portf {
    flex: 1;
    background-color: var(--element-color);
    margin: 0 15px;
    padding: 0px 20px 10px 20px;
    border-radius: 6px;
    text-align: center;
}


/* SKILLS */
.color-box {
    padding: 0;
    margin: 0 auto;
    height: 280px;
}
.box {
    height: 100px;
    max-width: 600px;
    position: relative;
    width: auto;
    transition: transform 0.5s ease-in-out;
}

.box:hover {
    transform: rotate(-5deg);
}

div.orange {
    background-color: var(--hover-color-darker);
    opacity: 0.9;
    border: 1px dashed black;
    z-index: 3;
    margin-top: 0px;
    right: 35px
}
div.hover-color {
    background-color: var(--hover-color);
    border: 1px dashed black;
    top: -45px;
    left: 0px;
    z-index: 1;
}
div.background-color {
    background-color: var(--background-color);
    opacity: 0.9;
    border: 1px dashed black;
    top: -90px;
    left: 35px;
    z-index: 2;
}
.skills .fas {
    color: rgba(0,0,0,0.9);
}


/* FOOTER */
 .page-footer {
     padding: 10px;
 }

    @media all and (max-width:900px) {
        .portfolio {
            flex-flow: row wrap; 
        }

        .portf {
            margin: 10px 10px;
            min-width: 300px;
        }
        .column2 {
            order: -1;
        }
        .events{
            padding-left: 0;
            padding-right: 0;
        }
    }


    @media all and (max-width:750px) {
        .dog2 {
            display: none;
        }
        .dog1 {
            width: 100%;
            min-height: 250px;
        }
        .dog3 {
            min-height: 200px;
        }

    }


  @media all and (max-width:500px) {
     .nav-bar {
        box-shadow: 1px 1px 3px black;
      }

    .nav ul {
        flex-wrap: wrap;
        border: none;
      }
    
    .nav li {
      flex-basis: 100%;
    }

    .nav {
        display: none;
        flex-direction: column;
      }

    .toggle:checked + .nav {
        display: flex;
    }

    .toggle-area {
        display: flex;
        flex: 1;
        padding: 2px;
        justify-content: center;
        background-color: var(--background-color);
    }
    
    .nav a {
        padding: 2px;
    }

    .portf {
        margin-left: 0;
        margin-right: 0;
        max-width: 500px;
    }

    .about-me {
        margin-top: 50px;
    }
    
  }  
  