:root {
  --background-color: rgb(251, 251, 234);
  --hover-color: rgb(255, 224, 115);
  --element-color: rgb(255, 224, 62, 0.2);
  --hover-color-darker: rgb(253, 135, 0);
}

html {
  box-sizing: border-box;
  font-size: 17px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("./photo/beige-watercolor-23a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
}

.content {
  text-align: center;
  background-color: var(--element-color);
  border-radius: 6px;
  font-family: Lato, Montserrat, sans-serif;
  max-width: 1200px;
  padding: 40px 20px 30px 20px;
  margin: 40px auto;
}

.content h1 {
  padding-bottom: 30px;
  padding-top: 10px;
}

/* NAVIAGATION BAR */
.menu__list a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px 5px;
  color: black;
  display: inline-block;
}

.menu__list a:visited {
  color: black;
}

.menu__list a:hover {
  background: var(--hover-color);
}

.menu {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 3px 3px 6px orange;
  z-index: 5;
}

.menu__toggle-area {
  display: none;
}

.menu__toggle {
  display: none;
}

/* Flex Container */
.menu__list ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Flex Item */
.menu__list li {
  flex: 1;
}

/* ABOUT ME */
.about-me {
  margin-top: 70px;
}

.about-me img {
  max-width: 200px;
  padding-bottom: 20px;
  height: auto;
  display: block;
  position: relative;
  margin: auto;
  animation: pumpkin;
  animation-duration: 3s;
}

@keyframes pumpkin {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* EVENTS */
.events {
  margin-bottom: 10px;
  max-width: 900px;
}

/* Container */
.events__gallery {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-content: center;
  background-color: var(--element-color);
  margin: 0 auto;
}

.events__img1 {
  display: flex;
  background-image: url("./photo/dog3.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 300px;
  width: 100%;
  position: relative;
}

.events__img2 {
  background-image: url("./photo/dog2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  min-height: 200px;
}

.events__img3 {
  background-image: url("./photo/dog1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  min-height: 200px;
}

.events__caption {
  position: absolute;
  background-color: var(--hover-color-darker);
  opacity: 0.8;
  width: 100%;
  bottom: 0;
}

/* PORTFOLIO */
/* Flex Container */
.portfolio {
  padding-top: 40px;
  margin: 40px auto;
  margin-top: 10px;
  display: flex;
  max-width: 1000px;
  align-items: center;
}

/* Flex Item */
.portfolio__column1,
.portfolio__column2,
.portfolio__column3 {
  flex: 1;
  background-color: var(--element-color);
  border-radius: 6px;
  margin: 0 15px;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.portfolio .fas {
  color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  transition: transform 0.2s ease-in-out;
}

.portfolio .fas:visited {
  color: rgba(0, 0, 0, 0.9);
}

.portfolio .fas:hover {
  color: var(--hover-color-darker);
  transform: scale(0.9);
}

.portfolio .far {
  color: var(--hover-color-darker);
  transition: transform 0.15s ease-in-out;
}

.portfolio .far:visited {
  color: var(--hover-color-darker);
}

.portfolio .far:hover {
  color: rgba(0, 0, 0, 0.8);
  transform: scale(0.9);
}

/* SKILLS */
.skills__boxes {
  height: 280px;
  padding-bottom: 40px;
}

.skills__box {
  letter-spacing: 3.7px;
  height: 100px;
  max-width: 600px;
  position: relative;
  width: auto;
  transition: transform 0.5s ease-in-out;
}

.skills__box:hover {
  transform: rotate(-4deg);
}

/* to present z-index */
.skills__box--orange {
  background-color: var(--hover-color-darker);
  opacity: 0.9;
  border: 1px dashed black;
  z-index: 3;
  margin-top: 0px;
  right: 35px;
}

.skills__box--hover-color {
  background-color: var(--hover-color);
  border: 1px dashed black;
  top: -60px;
  left: 0px;
  z-index: 1;
}

.skills__box--background-color {
  background-color: var(--background-color);
  opacity: 0.9;
  border: 1px dashed black;
  top: -120px;
  left: 35px;
  z-index: 2;
}

.skills .fas {
  color: rgba(0, 0, 0, 0.9);
}

.skills__text {
  text-align: justify;
}

.skills__quote {
  margin-top: 20px;
  padding: 10px;
  border: 1px dashed black;
  text-align: justify;
  text-align-last: right;
}

.skills__quote em {
  line-height: 1.4rem;
  letter-spacing: 1px;
}

.skills__quote strong {
  background-color: var(--hover-color);
}

/* CONTACT */
/* Contact form */
label {
  display: block;
}

.contact__form-container {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:  auto;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-areas:
    "name message"
    "phone message"
    "email message"
    "submit message";
}

.contact__form-name {
  grid-area: name;
}

.contact__form-phone {
  grid-area: phone;
}

.contact__form-email {
  grid-area: email;
}

.contact__form-message {
  grid-area: message;
}

.contact__form-submit {
  grid-area: submit;
}

.contact__formField {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px 0 10px 0;
  padding: 3px 0;
}

.contact__form input, .contact__form textarea {
  padding: 10px;
}

.contact__form textarea {
  height: 90%;
  width: 90%;
}

input[type="submit"] {
  cursor: pointer;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 8px 20px;
  border-radius: 3px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: var(--hover-color-darker);
}

.contact__form {
  padding-top: 30px;
}

/* FOOTER */
.page-footer {
  padding: 5px;
}

@media all and (max-width: 950px) {
  
  html{
    font-size: 1.1rem;
  }

  .about-me p {
    display: inline;
  }
  
  .events {
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio {
    flex-flow: row wrap;
  }

  .portfolio__column1,
  .portfolio__column2,
  .portfolio__column3 {
    margin: 10px 10px;
    min-width: 300px;
  }

  .portfolio__column2 {
    order: -1;
  }

  .contact__form-container {
    grid-template-columns: 1fr;
    grid-template-rows:  auto;
    row-gap: 15px;
    grid-template-areas:
      "name"
      "phone"
      "email"
      "message"
      "submit";
  }

  .contact__form-container input[type="text"], 
  .contact__form-container input[type="email"],
  .contact__form-container input[type="tel"] {
    width: 90vw;
  }

  .contact__form textarea {
    height: auto;
    width: 100%;
    max-width: 90vw;
  }

  input[type="submit"] {
    padding: 5px 30px;
  }
}

@media all and (max-width: 750px) {

  .events__img1 {
    min-height: 200px;
  }

  .events__img2 {
    display: none;
  }

  .events__img3 {
    width: 100%;
    min-height: 250px;
  }

  .skills__boxes {
    margin-right: 15px;
    margin-left: 15px;
  }

  .skills__box--orange {
    right: 20px;
  }

  .skills__box--background-color {
    left: 20px;
  }

}

@media all and (max-width: 520px) {

  .menu {
    box-shadow: none;
    background-color: rgba(251, 251, 234, 0.9);
  }

  .menu__list ul {
    display: flex;
    flex-flow: column wrap;
    height: calc(
      100vh - 1.4rem - 4px
    ); /*1.4 rem -czcionka, 4px,bo 2*2px paddingu */
  }

  .menu__list li {
    display: flex;
  }

  .menu__list a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__list {
    display: none;
  }

  .menu__toggle:checked ~ .menu__list {
    display: flex;
  }

  label #open {
    display: inline;
  }

  label #close {
    display: none;
  }

  .menu__toggle:checked ~ label #open {
    display: none;
  }

  .menu__toggle:checked ~ label #close {
    display: inline;
  }

  .menu__toggle-area {
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    flex: 1;
    padding: 2px;
    justify-content: center;
    background-color: var(--background-color);
    box-shadow: 0px 1px 5px black;
  }

  .menu .fas {
    padding: 6px;
  }

  .about-me {
    margin-top: 50px;
  }

  .portfolio h1 {
    padding-bottom: 10px;
  }


  .portfolio__column1,
  .portfolio__column2,
  .portfolio__column3 {
    margin-left: 0;
    margin-right: 0;
  }

  .portfolio__column1 {
    margin-top: 20x;
    margin-bottom: 20px;
  }

  .portfolio__column2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .portfolio__column3 {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .portfolio .far {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .portfolio .far:visited {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .portfolio .far:hover {
    color: var(--hover-color-darker);
  }

  .skills__box--orange {
    right: 15px;
  }

  .skills__box--background-color {
    left: 15px;
  }
}
